body{
    padding: 0;
    margin: 0;
    
    background: center url("5026563.jpg") ;
    box-sizing: border-box;
}

h1{
    margin-top: 50px;
    margin-right: 30px;
    text-align: center;
    font-size: 80px;
    font-family: 'Karla', sans-serif;
    font-weight: lighter;
    color: rgba(178, 143, 91, 0.986);
    font-style: italic;
    border: 2px solid rgba(135, 59, 59, 0.216);
    background-color: rgba(112, 68, 7, 0.275);
}

.slider-frame{
    overflow: hidden;
    height: 800px;
    width: 1200px;
    margin-left: 360px;
    margin-top: 20px;
}

/*---------- SLIDE ANIMATION --------------*/


@keyframes slide_animation{
    0% {left: -2400px;}
      10% {left: -1200px;}
      20% {left:0px;}
      30% {left:1200px;}
      40% {left: 2400px;}
      50% {left: 2400px;}
      60% {left: 1200px;}
      70% {left: 1200px;}
      80% {left: 0px;}
      90% {left: -1200;}
      100% {left: -2400px;}
}

@-webkit-keyframes slide_animation{
    0% {left: -2400px;}
    10% {left: -1200px;}
    20% {left:0px;}
    30% {left:1200px;}
    40% {left: 2400px;}
    50% {left: 2400px;}
    60% {left: 1200px;}
    70% {left: 1200px;}
    80% {left: 0px;}
    90% {left: -1200;}
    100% {left: -2400px;}
}

.slide-images{
    width: 6000px;
    height: 800px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

.img-container{
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;

}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 40px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: rgba(191, 182, 18, 0.538);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    
}

ul li a:hover
{
    color: rgba(133, 107, 59, 0.955);
}
.split
{
    margin-top: 10%;
    height: 80%;
    width: 40%;
    position: fixed;
    z-index: 1;
    top:0 ;
    overflow-x: hidden; 
    padding-top: 20px;

}
.left{
    left: 0;
    background: #a78b3c;
}
.right{
    right:  0;
    background:#a78b3c;
}
.middle{
    left: 30%;
    background:transparent  ;

}
.centered{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.centered h2{
    color: #4b487d;
    font-size: 2em;
    margin: 0;
    padding: 0;
}
.centered p{
    text-align: justify;
    font-size: 16px;
}
.centered img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-size: cover;
    border: 2px solid #fff;
}
#ourwork1{
    margin-right: 0px;
    margin-top: 40px;
    width: 200px;
    height: 200px;
    border-radius: 8%;
    background-size: cover;
    border: 2px solid #fff;
   
}
#ourwork2{
    width: 200px;
    height: 200px;
    border-radius: 8%;
    background-size: cover;
    border: 2px solid #fff;
   
}
#ourwork3{
    width: 200px;
    height:200px;
    border-radius: 8%;
    background-size: cover;
    border: 2px solid #fff;
}
.ourwork1{
    margin-top: 200px;
    
}

